<!DOCTYPE html>
<html>
  <head>
    <title>Fonelator</title>
    <%= stylesheet_link_tag    "fonelator/application" %>
    <%= javascript_include_tag "fonelator/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="layout application">
    <%= yield %>
  </body>
</html>